footer {
  width: 100%;
  background-color: rgb(225, 183, 15);
  height: 80px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0 auto;
  z-index: 100;
}
